<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let item of data; let i = index">
      <!-- <div *ngFor="let subItem of item[i]"> -->
      <div class="card" style="width: 20rem; padding: 10px">
        <img
          src="{{ item.thumbNail }}"
          class="card-img-top"
          style="width: 300px; height: 300px"
          alt="..."
        />
        <br />
        <audio src="{{ item.audioUrl }}" controls></audio>

        <div>
          <div class="card-body">
            <h5 class="card-title">{{ item.songName }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">
              singers {{ item.singer[0] }} <br />
              {{ item.singer[1] }}
            </h6>

            <p class="card-text">{{ item.movieName }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
